beautifulsoup4==4.12.2
folium==0.14.0
hydralit-components==1.0.10
imblearn==0.0
importlib-metadata==6.6.0
markdown-it-py==2.2.0
numpy==1.24.2
pandas==2.0.0
pickleshare==0.7.5
plotly==5.14.1
scikit-learn==1.2.1
seaborn==0.12.2
smmap==5.0.0
streamlit==1.23.1
plotly.express==0.4.1
